.container {
    padding: 20px;
    background-color: lightgray;
}

.fundo-branco {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.alinhamento {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.progresso2{
    height: 100%;
}

.progresso{
    height: 20px;
    width: 350px;
    border: 1px solid black;
}

button {
    padding: 10px;
    margin: 0px 10px ;
    border-radius: 5px;
    border: none;
}

.logJogo{
    padding: 7px 0px;
    text-align: center;
}